*
!/**/
!?*.*
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
!/bin/**/*
!/exe/**/*
!.gitignore
!Gemfile
![MR]akefile
*.dump
*.log
*.mod
*.o
*.swp
*~
.DS_Store
.idea
.project
.rake*
.ruby-*
.rvmrc
.secret
TODO.md
core.*
secrets.yml
tags

